/* Credit: Lucas Bebber https://codepen.io/lbebber/pen/XJRdrV?editors=1100 
CRT Animation effects 
Adapted for use in this app */

@keyframes flicker {
	0% {
		opacity: 0.78789;
	}

	5% {
		opacity: 0.25689;
	}

	10% {
		opacity: 0.69513;
	}

	15% {
		opacity: 0.63644;
	}

	20% {
		opacity: 0.95963;
	}

	25% {
		opacity: 0.44966;
	}

	30% {
		opacity: 0.23362;
	}

	35% {
		opacity: 0.37592;
	}

	40% {
		opacity: 0.47797;
	}

	45% {
		opacity: 0.38188;
	}

	50% {
		opacity: 0.70464;
	}

	55% {
		opacity: 0.83645;
	}

	60% {
		opacity: 0.1357;
	}

	65% {
		opacity: 0.49193;
	}

	70% {
		opacity: 0.4046;
	}

	75% {
		opacity: 0.3241;
	}

	80% {
		opacity: 0.88679;
	}

	85% {
		opacity: 0.49929;
	}

	90% {
		opacity: 0.43219;
	}

	95% {
		opacity: 0.12872;
	}

	100% {
		opacity: 0.91582;
	}
}

#switch:checked ~ .container::after {
	animation: flicker 0.15s infinite;
}

@keyframes turn-on {
	0% {
		transform: scale(1, 0.8) translate3d(0, 0, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 1;
	}

	3.5% {
		transform: scale(1, 0.8) translate3d(0, 100%, 0);
	}

	3.6% {
		transform: scale(1, 0.8) translate3d(0, -100%, 0);
		opacity: 1;
	}

	9% {
		transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
		-webkit-filter: brightness(30);
		filter: brightness(30);
		opacity: 0;
	}

	11% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(0) brightness(0);
		filter: contrast(0) brightness(0);
		opacity: 0;
	}

	100% {
		transform: scale(1, 1) translate3d(0, 0, 0);
		-webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
		filter: contrast(1) brightness(1.2) saturate(1.3);
		opacity: 1;
	}
}

body {
	animation: turn-on 7s linear;
    animation-fill-mode: forwards;
}

@keyframes overlay-anim {
	0% {
		visibility: hidden;
	}

	20% {
		visibility: hidden;
	}

	21% {
		visibility: visible;
	}

	100% {
		visibility: hidden;
	}
}

.overlay {
	color: #00FF00;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 60px;
	visibility: hidden;
    pointer-events: none;
    animation: overlay-anim 10s linear;
	animation-fill-mode: forwards;
}
